<!--Error Block-->
<div class="error-block">
    {{#if success_msg}}
    <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}

    {{#if error_msg}}
    <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}

    {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
    {{/if}}

    {{#if errors}}
        {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
        {{/each}}
    {{/if}}
</div>

<!--admin menu-->
<div class="menu">
    <span class="close">&times;</span>
    <a href="/"><img class ="logo" src="/assets/images/trainbot_logo.png" alt="TrainBot"></a>
    <ul>
        <a href="/admin/clients"><li>Client List</li></a>
        <a href="/admin/programs"><li>Programs</li></a>
        <a href="/admin/create"><li>Create Program</li></a>
    </ul>
</div>

<!--admin header-->
<div class="site-header">
    <ul>
        <li class="hamburger"><i class="fa fa-bars" aria-hidden="true"></i></li>
        <li><img class ="logo" src="/assets/images/trainbot_logo.png" alt="TrainBot"></li>
        <li class="header-button"><a href="/logout"><button type="button">Logout</button></a></li>
    </ul>
</div>

<div class="create-block">
    <div class="create-section">
        <h1 class="create-content-title">Create New Workout</h1>
        <div class="create-content">
            <form class="program-form" method="" action="">
                
                <div class='create__workout-program'>
                    <label>Program:</label>
                        {{#with programs}}
                        
                        <input class="workout-program" type="text" id='{{this.id}}' value='{{this.name}}'></input>
                        {{/with}}
                </div>

                <div class='create__workout-day'>
                    {{!--<label>Day Number:</label>
                    <input type='number' name='day' id='workout-id'>--}}
                </div>

                <div class="create__workout-text">
                    <label class="workout-enter-label">What is the workout?</label>
                    <textarea name='text' id='workout-text' placeholder="A. 3x5 Back Squats etc.."></textarea>
                </div>
               
                <button class="submit-button submit-workout" type="submit">Next Day...</button>
            </form>
        </div>

    </div>
    <img class="program-banner" src="/assets/images/banner-cement.jpg" alt="cement">
</div>

<script src="/javascript/admin.js"></script>